/* Global Settings */
:root {
	/* Global Variables*/
	--primaryWhite: rgba(255, 255, 255, 0.9);
	--secondaryWhite: rgba(255, 255, 255, 0.4);
	--primaryBlack: rgba(0, 0, 0, 0.8);
	--secondaryBlack: rgba(0, 0, 0, 0.3);
	background-color: var(--primaryBlack);
	height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;

	/* temp */
	border: dashed white 0px;
	border-radius: 2px;
}

/* Primary Classes */
.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-row {
	flex-direction: row;
}

.font {
	font-family: 'Audiowide', cursive;
	color: var(--primaryWhite);
	-webkit-text-stroke: var(--primaryBlack) 1px;
	filter: drop-shadow(1px 1px 4px var(--primaryBlack));
}

.pointer{
	cursor: pointer;
}

/* Containers */
.container {
	width: 98vw;
}

#header-container {
	height: 10vh;
}

#content-container {
	height: 85vh;
}

#footer-container {
	height: 5vh;
	justify-content: space-between;
	padding: 2vh 2vw;
}

/* Content Containers */
#options-container {
	height: 15%;
	justify-content: space-between;
}

#grid-container {
	height: 85%;
	display: grid;
	border: solid var(--primaryBlack) 4px;
	border-radius: 10px;
}

/* Header */
#header-logo {
	font-size: 8vh;
}

/* Options */

#options-color{
	width: 12vw;
}

#options-brushes {
	justify-content: space-evenly;
	width: 35vw;
}

#options-slider{
	width: 20vw;
}


/* Color Picker */
#options-color-picker {
	width: 72px;
	height: 72px;
	background: none;
	transition: 200ms;
}

#options-color-picker:hover {
	width: 84px;
	height: 84px;

}


#options-color-picker::-webkit-color-swatch {
	border: solid 4px;
	border-radius: 50%;
}

/* Brushes (Radio/Icons) */
.radio{
	height: 36px;
	width: 36px;
	position: absolute;
	opacity: 0%;
	z-index: 1;
}

.icon{
	transform: scale(1.4);
	background-color: var(--secondaryWhite);
	border: solid 2px var(--primaryBlack);
	border-radius: 6px;
	transition: 200ms;
}

.radioChecked {
	transform: scale(1.6);
	background-color: var(--primaryWhite);
	filter: drop-shadow(0 0 4px var(--primaryBlack));
}

/* Modes */
#options-modes-container{
	height: 100%;
	justify-content: space-around;
}

#mode-shade,
#mode-rainbow{
	transform: scale(1.2);
}

#options-modes{
	height: 80%;
	justify-content: space-evenly;
}

#mode-text{
	height: 20%;
	font-size: 10pt;
}



/* Slider */
#options-slider-range{
	width: 75px;
	height: 3vh;
}

#options-slider-label,
#options-slider-text{
	text-align: center;
	font-size: 12pt;
}

/* Grid */
.grid-cell{
	background-color: var(--primaryWhite);
	border: solid 1px;
	border-radius: 4px;
}

.grid-cell:hover{
	border: solid var(--primaryBlack);
}


/* Footer */
#reset-grid{
	background-color: var(--secondaryWhite);
	border: solid var(--primaryBlack) 4px;
	border-radius: 8px;
	padding: 0 4px 0 0 ;
	transition: 200ms;
}

#reset-grid:hover{
	transform: scale(1.05);
	filter: drop-shadow(0 0 2px var(--secondaryBlack));
}

#reset-icon,
#reset-text {
	user-select: none;
}


/* Mobile First => Desktop Second */
@media screen and (min-width: 800px) {
	/* Containers */
	#content-container {
		flex-direction: row;
		height: 80vh;
	}

	#footer-container{
		height: 10vh;
	}
	
	#options-container {
		flex-direction: column;
		height: 100%;
		width: 15%;
	}

	#grid-container {
		height: 100%;
		width: 85%;
	}
	/* Options Containers */

	
	#options-brushes {
		flex-direction: column;
		height: 40%;
		width: 100%;
	}

	#options-slider {
		height: 20%;
		width: 100%;
	}

	/* Color Picker */
	#options-color-picker {
		height: 70px;
		width: 70px;
	}

	#options-color-picker:hover {
		height: 80px;
		width: 80px;
	}

	/* Range Slider */
	#options-slider-range {
		height: 5vh;
		width: 80%;
	}

	#options-slider-label,
	#options-slider-text {
		font-size: 10pt;
	}


	/* MODES */
	#options-modes-container{
		width: 100%;
		height: 15%;
	}

	#options-modes{
		flex-direction: row;
		width: 100%;
	}

	#mode-shade,
	#mode-rainbow{
		transform: scale(1);
	}

	#mode-text{
		width: 100%;
		font-size: 10pt;
	}

	.icon{
		transform: scale(1.2);
	}

	.radioChecked{
		transform: scale(1.6);
	}
}