
/* Global */
:root {
	--globalPadding: 10px;
	--globalMargin: 0px;

}

* {
	margin: var(--globalMargin);
	padding: var(--globalPadding);

	/* temp */
	border: dashed black 1px;
	border-radius: 8px;
}

/* Fonts */
.font,
#bruGG-link {
	font-family: 'Audiowide', cursive;
	color: rgba(255, 255, 255, 0.8);
	-webkit-text-stroke: rgba(0, 0, 0, 0.8) 1px;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pointer {
	cursor: pointer;
}

body {
	height: calc(100vh - var(--globalPadding));
	background-color: rgba(0, 0, 0, 0.67);
}

/* Containers */
.container {
	width: calc(100vw - var(--globalPadding));
}

#header-container {
	height: 10%;
}

#content-container {
	height: 85%;
}

#grid-container {
	height: 85%;
	display: grid;
}

#options-container {
	height: 15%;
	flex-direction: row;
	justify-content: space-evenly;
}

#footer-container {
	height: 5%;
	flex-direction: row;
	justify-content: space-between;
}

/* Header Style */
#header-logo {
	font-size: 48pt;
}

/* Options */

/* Color Picker */
#options-color-picker {
	width: 60px;
	height: 60px;
	background: none;
}

/* Color Swatch Webkit Pseudo-element */
#options-color-picker::-webkit-color-swatch {
	border: solid 4px;
	border-radius: 50%;
}

/* Radio Buttons */
#options-brushes {
	width: 40vw;
	flex-direction: row;
	justify-content: space-around;
}

.radio > input {
	position: absolute;
	opacity: 0%;
	height: 48px;
	width: 48px;
	z-index: 1;
}

.radio > span {
	transform: scale(1.5);
	border: solid 3px;
	border-radius: 10px;
	padding: 0;
	color: rgba(255, 255, 255, 0.8);
}

.radioChecked {
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-text-stroke: rgba(0, 0, 0, 0.5) 1px;
}

/* Range Slider */
#options-slider-range {
	width: 80px;
}

#options-slider > span {
	text-align: center;
	line-height: 1.5em;
	width: 5em;
	font-size: 14pt;
	padding: 0;
}

#options-slider-text {
	width: 4em;
}

/* Grid Style */
.grid-cell {
	border: rgba(255, 255, 255, 0.66) solid 1px;
}

.grid-cell:hover{
	border: red solid;
}

/* Footer Style */
#reset-grid {
	flex-direction: row;
	border: solid black 2px;
	padding: 0px 6px 0px 2px;
	background-color: rgba(0, 0, 0, 0.4);
}

#reset-icon,
#reset-text {
	user-select: none;
}

#bruGG-link {
	text-decoration: underline;
	color: rgba(255, 255, 255, 1);
}

/* Mobile First => Desktop Second */
@media screen and (min-width: 800px) {
	/* Containers */
	#content-container {
		flex-direction: row;
	}

	#header-container {
		height: 10%;
	}

	#content-container {
		height: 85%;
	}

	#grid-container {
		height: 100%;
		width: 90%;
	}

	#options-container {
		height: 100%;
		width: 15%;
		flex-direction: column;
	}

	/* Options */

	/* Color Picker */
	#options-color-picker {
		width: 100px;
		height: 100px;
	}

	/* Radio Buttons */
	#options-brushes {
		height: 100%;
		width: 100%;
		flex-direction: column;
	}

	/* Range Slider */
	#options-slider-range {
		width: 90%;
		height: 2em;
		padding: 0;
	}

	#options-slider > span {
		font-size: 12pt;
		padding: 0;
		width: 100%;
	}

	.radio > span {
		transform: scale(2.5);
		padding: 0;
	}

	.radio > input {
		height: 72px;
		width: 72px;
	}
}
 