/* Global Settings */
:root {
	/* Global Variables*/
	--primaryWhite: rgba(255, 255, 255, 0.9);
	--secondaryWhite: rgba(255, 255, 255, 0.4);
	--primaryBlack: rgba(0, 0, 0, 0.8);
	--secondaryBlack: rgba(0, 0, 0, 0.3);
	background-color: var(--primaryBlack);
	height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;

	/* temp */
	border: dashed white 0px;
	border-radius: 2px;
}

/* Primary Classes */
.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 2%;
}

.theme {
	font-family: 'Audiowide', cursive;
	color: var(--primaryWhite);
	-webkit-text-stroke: var(--primaryBlack) 1px;
	filter: drop-shadow(1px 1px 4px var(--primaryBlack));
}

.icon {
	transform: scale(1.2);
	background-color: var(--secondaryWhite);
	border: solid 2px var(--primaryBlack);
	border-radius: 6px;
	transition: 200ms;
}

.pointer {
	cursor: pointer;
}

/* Containers */
.container {
	width: 100vw;
}

#header-container {
	height: 10vh;
	border-bottom: solid var(--primaryWhite);
}

#footer-container {
	height: 10vh;
	border-top: solid var(--primaryWhite);
}

#content-container {
	height: 80vh;
}

/* Content Containers */
#options-container {
	height: calc(80vh * 0.2);
}

#grid-container {
	display: grid;
	height: calc(80vh * 0.8);
	border: solid var(--primaryBlack) 4px;
	border-radius: 10px;
}

/* Header */
#header-logo {
	font-size: 48px;
}

/* Options Containers */
#options-modes {
	height: calc((80vh * 0.2) * 0.9);
	width: 15vw;
	justify-content: space-evenly;
}

#options-color {
	width: 25vw;
}

#options-brushes {
	width: 40vw;
	justify-content: space-around;
}

#options-slider {
	width: 30vw;
	height: 100%;
}

/* Modes */
.checkbox{
	position: absolute;
	opacity: 0%;
	z-index: 1;
	height: 28px;
	width: 28px;
}

.boxChecked {
	transform: scale(1.4);
	background-color: var(--primaryWhite);
	filter: drop-shadow(0 0 4px var(--primaryBlack));
}

/* Color Picker */
#options-color-picker {
	width: 64px;
	height: 64px;
	background: none;
	transition: 200ms;
}

#options-color-picker:hover {
	transform: scale(1.1);
}

#options-color-picker::-webkit-color-swatch {
	border: solid 4px;
	border-radius: 50%;
}

/* Brushes (Radio/Icons) */
.radio {
	height: 34px;
	width: 34px;
	position: absolute;
	opacity: 0%;
	z-index: 1;
}

.radioChecked {
	transform: scale(1.4);
	background-color: var(--primaryWhite);
	filter: drop-shadow(0 0 4px var(--primaryBlack));
}

/* Slider */
#options-slider-range {
	width: 20vw;
	height: 5vh;
}

#options-slider-label,
#options-slider-text {
	text-align: center;
	font-size: 12pt;
}

/* Grid */
.grid-cell {
	background-color: var(--primaryWhite);
	border: solid 1px;
	border-radius: 4px;
}

.grid-cell:hover {
	border: solid var(--primaryBlack);
}

/* Footer */
#reset-grid {
	background-color: var(--secondaryWhite);
	border: solid var(--primaryBlack) 4px;
	border-radius: 8px;
	padding: 0 4px 0 0;
	transition: 200ms;
}

#reset-grid:hover {
	transform: scale(1.1);
}

#reset-icon,
#reset-text {
	user-select: none;
}

/* Mobile First => Desktop Second */
@media screen and (min-width: 800px) {
	/* Containers */
	#content-container {
		flex-direction: row;
		height: 80vh;
	}

	#footer-container {
		height: 10vh;
	}

	#options-container {
		flex-direction: column;
		height: 80vh;
		width: calc(100vw * 0.15);
		justify-content: space-around;
	}

	#grid-container {
		height: 80vh;
		width: calc(100vw * 0.85);
	}

	/* Options Containers */
	#options-modes {
		flex-direction: row;
		height: calc(80vh * 0.1);
		width: calc(100vw * 0.15);
	}

	#options-color {
		height: calc(80vh * 0.15);
		width: calc(100vw * 0.15);
	}

	#options-brushes {
		flex-direction: column;
		height: calc(80vh * 0.4);
		width: calc(100vw * 0.15);
	}

	#options-slider {
		height: calc(80vh * 0.2);
		width: calc(100vw * 0.15);
	}

	/* Color Picker */
	#options-color-picker {
		height: 72px;
		width: 72px;
	}

	/* Range Slider */
	#options-slider-range {
		height: 5vh;
		width: calc((100vw * 0.15) * 0.6);
	}

	#options-slider-label,
	#options-slider-text {
		font-size: 14pt;
	}
}
